<html>
<head>
  <style>
    .container {
      display: table;
      width:   100%;
    }

    .cell {
      display: table-cell;
      background-color: #eee
    }
  </style>
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript">
    class Metropolis {
      constructor(population) {
        this.population = population;
        this.state = 0;
        this.length = population.length;
      }

      transition() {
        var curr_population = this.population[this.state]
        var next_population = null;
        var candidate_state = null;

        var left = Math.random() < 0.5;
        
        if ( left ){
          if (this.state == 0) {
            return;  
          }
          candidate_state = this.state - 1;
        }
        else {
          if ( this.state == this.length-1) {
            return;
          }
          candidate_state = this.state + 1;
        }
        next_population = this.population[candidate_state];
        if (next_population >= curr_population) {
          this.state = candidate_state;
        }
        else{
          if (Math.random() < next_population/curr_population) {
            this.state = candidate_state;
          }
          else
          {
            /* nothing to do */
          }
        }
        return;
      }
    }
  </script>
</head>
<body>
    <div class="container">
      <div class="cell" id="population_viz">
        <h3>population</h3>
      </div>
      <div class="cell" id="markov_chain_viz">
        <h3>markov-chain</h3>
      </div>
      <div class="cell" id="graph_viz">
        <h3>sampled</h3>
      </div>
    </div>
    
    
    <input type="range" min="5" max="2000" value="1000" onchange="updateSlider(this.value)">

    <button onclick="restart()" id="restart">restart</button>
    <button onclick="stop()">stop</button>
    
    
    <script type="text/javascript">
    
    var m_width = 300
    var m_height = 150
    var duration = 1000
    var populationSVG = d3.select("#population_viz")
        .append("svg")
          .attr("width", 150)
          .attr("height", 150)
    var graphSVG = d3.select("#graph_viz")
        .append("svg")
          .attr("width", 150)
          .attr("height", 150)
    var chainSVG = d3.select("#markov_chain_viz")
        .append("svg")
          .attr("width", m_width)
          .attr("height", m_height)

    var observation = [0,0,0,0,0,0,0]
    var initial_value = [1,2,3,4,5,6,7]

    updateObs(initial_value, "#population_viz")

    metropolis = new Metropolis(initial_value)

    /* draw chain!*/
    chainSVG.selectAll('circle')
                .data(initial_value)
                .enter()
                .append('circle')
                .attr('id', function(d, i) { return 'node_'+i })
                .attr('r', 15)
                .attr('cx', function(d, i){ return 30 + i * 40 } )
                .attr('cy', m_height/2);

    function updateLogic(){

        d3.select("#markov_chain_viz").select("#node_" + metropolis.state).transition().duration(duration/2).
          attr('fill', "black")
        metropolis.transition();
        d3.select("#markov_chain_viz").select("#node_" + metropolis.state).transition().duration(duration/2).
          attr('fill', "red")

        observation[metropolis.state] += 1;
        updateObs(observation, '#graph_viz')
        
        function total(arr) { 
          return arr.reduce((a, v)=>a + v);
        }
        var KL = 0
        N_i = total(initial_value)
        N_o = total(observation)

        for( var i = 0 ; i < 7 ; i++){
          KL += -(initial_value[i]/N_i)*Math.log(observation[i]/N_o)
          KL -= -(initial_value[i]/N_i)*Math.log(initial_value[i]/N_i)
        }
        d3.select("#graph_viz").select("h3").text("sampled :" + N_o)
        d3.select("#markov_chain_viz").select("h3").text("markov-chain    KL-divergence: " + KL.toFixed(5))

        timeout = setTimeout(updateLogic, duration);
    }
    var timeout = setTimeout(updateLogic, duration);
    
    function restart() {
      document.getElementById("restart").disabled = true;
      setTimeout(function(){document.getElementById("restart").disabled = false;}, 3000)
      clearTimeout(timeout)

      for( var i = 0 ; i < 7; i++)
        initial_value[i] = Math.random()*10
      updateObs(initial_value, "#population_viz")
      timeout = setTimeout(updateLogic, duration);
      observation = [0, 0, 0, 0, 0, 0, 0]
    }
    function stop() {
      clearTimeout(timeout)
    }


    function updateObs(dataset, viz) {
      var svg = d3.select(viz).select("svg");
      var width = svg.node().getBoundingClientRect().width;
      var height = svg.node().getBoundingClientRect().height;

      var x_width = width/dataset.length
      var yMaxValue = dataset.reduce(function(a, b) { return Math.max(a, b); });
      var y_height = height/yMaxValue
      var path = d3.select(viz).select("svg").selectAll('rect')
             .data(dataset)

      path.transition().duration(100)
      .attr({
            x: function(d, i) { return i*x_width; },
            y: function(d) { return height-y_height*d; },
            width: x_width-1,
            height: function(d) { return y_height*d; },
            fill: 'green'
          })

      path.enter()
       .append('rect')
          .attr({
            x: function(d, i) { return i*x_width; },
            y: function(d) { return height-y_height*d; },
            width: x_width-1,
            height: function(d) { return y_height*d; },
            fill: 'green'
          })
          .on("mouseover", function(d, i){
            d3.select(this).attr("fill", function() {
                return "red";
            });
          })
          .on("mouseout", function(d, i){
            d3.select(this).attr("fill", function() {
                return "green";
            });
          })
          
    }
    function updateSlider(slideAmount) {
        
        duration = slideAmount;
    }
    </script>
</body>
</html>